.albums {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}

.albums h1 {
  color: var(--primary-color);
  text-align: center;
  margin-top: 2rem;
}

.albumsMain {
  margin: 5rem calc(5vw);
  display: flex;
  flex: 1;
  margin-bottom: 10rem;
}

.albumsMainPlaylist {
  flex: 1;
  padding-left: 2rem;
  /* overflow-y: scroll;
    height: clamp(550px, 550px, 600px); */
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.albumsMainPlaylist::-webkit-scrollbar {
  display: none;
}

.albumsMusicPlayer {
  padding: 2rem;
  background-color: #171a1a;
  width: 100%;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  box-shadow: 2px 6px 20px 8px rgba(34, 42, 63, 1);
}

.musicTrackImage {
  width: 60px;
  height: 60px;
  /* border: 1px solid red!important; */
}

.musicTrackImage img {
  border-radius: 50% !important;
  object-fit: cover !important;
}

.albumsMusicPlayer {
  display: flex;
  align-items: center;
}

.albumsMusicPlayerTitle {
  margin: 0 1rem;
  color: var(--primary-color);
}

.albumsMusicPlayerTitle * {
  font-weight: 500;
}

.musicController * {
  color: var(--primary-color) !important;
}

.albumsMusicPlayer p {
  font-weight: 600;
  margin: 0 2rem;
  text-align: center;
  color: var(--primary-color);
  width: 30px;
}

.musicController {
  display: flex;
}

/* .lyricsStyle {
    border: 1px solid black;
} */

.hoverStyling img:hover {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  cursor: pointer;
}

.contentStyle {
  /* border: 0.5px solid white; */
  background-color: #eedfb9;
  text-align: center;
  border-radius: 50px;
  margin: 5vh 20vw;
  padding: 20px;
  font-size: 14px;
  color: #382b11;
}


/* .audioPlayer::-webkit-media-controls-play-button{
  color: #ffffff!important;
  border: 2px solid purple!important;
  background-color: #ffffff;
  border-radius: 50%;
} */
/* .audioPlayer{
 
  width: 62%;
  margin-top: 15px;
  background-color: black!important;
  color: #ffffff;
}
.audioPlayer::-webkit-media-controls-panel{

  color: #ffffff;
  border: 1px solid #ffffff!important;
}
.audioPlayer::-webkit-media-controls-mute-button{
  background-color: #ffffff;
  color: #ffffff!important;
   border-radius: 50%;
}
.audioPlayer::-webkit-media-controls-volume-slider {
  background-color: red!important;
}
.audioPlayer::-webkit-media-controls-volume-control-container.closed {
background-color: red;
 color: rgb(29, 11, 29)!important;
}

.audioPlayer::-webkit-media-controls-volume-control-container{

  color: purple!important;
} */
/* .audioPlayer::-webkit-internal-media-controls-button-hover-background{
  background-color: red!important;
  color: #ffffff!important;
} */
.audioPlayer::-webkit-media-controls-current-time-display{
  color: #ffffff;
  margin-left: 15px;
  
}
.audioPlayer::-webkit-media-controls-time-remaining-display{
  color: #ffffff;
}

.audioPlayer::-webkit-media-controls-enclosure{
  background-color: black;
  
}

.audioPlayer::-webkit-media-controls-play-button{
  background-color: #fff;
  border-radius: 50%;
  /* color: #ffffff; */

}
.audioPlayer{
  width: 72%;
  margin-top: 15px;
  color: #ffffff;
}
.audioPlayer::-webkit-media-controls-timeline{
  background-color: #ffffff;
  border-radius: 20px;
  margin:0 20px;
}
.audioPlayer::-webkit-media-controls-volume-control-container{
  background-color: #ffffff;
  border-radius: 20px;
  /* border: 3px solid purple; */
}
.audioPlayer::-webkit-internal-media-controls-overflow-button{
   background-color: #ffffff;
   color: #ffffff;
}


@media (max-width: 1150px) {
  .albumsMain {
    margin-top: 2rem;
  }

  .albumsMain > div:nth-child(1) {
    display: none !important;
  }

  .albumsMainPlaylist {
    padding: 0;
  }
}

@media(max-width:540px){
  .audioPlayer{
    width: 90%;
    /* border: 1px solid red; */
  }
 
}
