.albums {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}

.albums h1 {
  color: var(--primary-color);
  text-align: center;
  margin-top: 2rem;
}

.albumsMain {
  margin: 5rem calc(5vw);
  display: flex;
  flex: 1;
  margin-bottom: 10rem;
}

.albumsMainPlaylist {
  flex: 1;
  padding-left: 2rem;
  /* overflow-y: scroll;
    height: clamp(550px, 550px, 600px); */
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.albumsMainPlaylist::-webkit-scrollbar {
  display: none;
}

.albumsMusicPlayer {
  padding: 2rem;
  background-color: #171a1a;
  width: 100%;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  box-shadow: 2px 6px 20px 8px rgba(34, 42, 63, 1);
}

.musicTrackImage {
  width: 60px;
  height: 60px;
}

.musicTrackImage img {
  border-radius: 50% !important;
  object-fit: cover !important;
}

.albumsMusicPlayer {
  display: flex;
  align-items: center;
}

.albumsMusicPlayerTitle {
  margin: 0 1rem;
  color: var(--primary-color);
}

.albumsMusicPlayerTitle * {
  font-weight: 500;
}

.musicController * {
  color: var(--primary-color) !important;
}

.albumsMusicPlayer p {
  font-weight: 600;
  margin: 0 2rem;
  text-align: center;
  color: var(--primary-color);
  width: 30px;
}

.musicController {
  display: flex;
}

/* .lyricsStyle {
    border: 1px solid black;
} */

.hoverStyling img:hover {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  cursor: pointer;
}

.contentStyle {
  /* border: 0.5px solid white; */
  background-color: #eedfb9;
  text-align: center;
  border-radius: 50px;
  margin: 5vh 20vw;
  padding: 20px;
  font-size: 14px;
  color: #382b11;
}

@media (max-width: 1150px) {
  .albumsMain {
    margin-top: 2rem;
  }

  .albumsMain > div:nth-child(1) {
    display: none !important;
  }

  .albumsMainPlaylist {
    padding: 0;
  }
}
