.auth {
  padding: calc(2vw + 100px);
  width: clamp(300px, 75%, 800px);
  /* background: #171a1a; */
  /* background: #111; */
  background: #0f0b04;
  box-shadow: 2px 6px 20px 8px #382b11;
  text-align: center;
  color: var(--primary-color);
  border-radius: 10px;
  margin: 0 auto;
  margin-bottom: 5vw;
}

.auth h1 {
  font-size: 3rem;
  font-weight: 500;
  margin-bottom: 3rem;
}

.auth p span {
  margin: 0 0.5rem;
}

.auth p {
  margin: 0 0.5rem;
}

.auth span {
  cursor: pointer;
  color: var(--secondary-color);
  text-decoration: underline;
}

.auth > span {
  display: block;
  margin: 1rem;
}

.linkBoxWrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

@media (max-width: 991px) {
  .linkBoxWrapper {
    flex-direction: column;
  }

  .auth p span {
    margin: 0.5rem;
  }

  .auth {
    width: clamp(300px, 90%, 800px);
    margin: 5vw auto;
  }
}
